.venv/
env/
venv/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.ipynb_checkpoints

instance/
.webassets-cache

.idea/

.vscode/

.DS_Store

*.log
*.sqlite3



